/*Vue Tablette*/
@media only screen and (min-width:768px){
    .navigation{
        flex-direction: row;
        justify-content: space-evenly;
        background: $menuBackground;
        li{
            border-style: none;
            border-width: 0;
        }
        img{
            width: 20%;
            border-radius: 50%;
        }
        .Icon{
            width: 50%;
        }
    }
    #burger{
        display: none;
    }
}