@import 'cssreset';
@import 'svg';
@import 'menu';
@import 'variables';
@import 'mediaquery';

body{
    background-size: cover;
    background-repeat: no-repeat; 
    .text{
        text-align: center;
        color: $title;
        h1{
			font-size: 7vw;
			
        }
    }
}
